.container {
    background: #E0E0E0;
    width: 100%;
    height: 100%;
}

.subtitle-game {
    padding-top: 89px;
    padding-left: 189px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
}