<div class="title">Впиши название латиницей и добавь картинку:</div>
<div class="new-card-picture-container">
    <ng-container *ngFor="let image of visibleCards">
        <button class="new-card-picture-button">
                <img class="card-image" [src]="image.url" />
        </button>
    </ng-container>
</div>

<mat-paginator #paginator [length]="defaultCards.length" [pageSize]="size" [pageIndex]="page" (page)="changePage($event)" hidePageSize></mat-paginator>

<div class="new-card-name"><input class="new-card-name-input" id="cardname"></div>

<div class="btn-container">
    <button class="btn-ready" (click)="saveName()" mat-dialog-close>Далее</button>
</div>