<nav>
    <img class="logo" src="../../assets/LOGO.png">
    <div class="nav-button-group">
        <button class="nav-button" routerLink="/game">Играть</button>
        <button class="nav-button">Об игре</button>
    </div>
</nav>
<div class="main-block">
    <div class="title">ИСПЫТАЙ УДАЧУ!</div>
    <div class="subtitle">В борьбе с искусственным интеллектом</div>
    <div class="landing-button-group">
        <button class="landing-button" routerLink="/game">Играть</button>
        <button class="landing-button">Об игре</button>
    </div>
</div>