<div class="container">
    <div class="title">Правила игры</div>
    <div class="article">
        Если сильно упростить покер, он будет сильно похож на знаменитую во всем миру игру «Камень, ножницы, бумага».
        У обеих игр есть оптимальная стратегия: случайное действие в известной всем детской забаве и Игровой
        теоретический оптимум (Game Theoretical Optimum, GTO) в покере. Но данные стратегии не гарантируют максимального
        вэлью.
        <br>
        Оптимальная тактика игры гарантирует лишь одно: действия соперников становятся иррелевантными. Это стандартное
        равновесие по Нэшу. И здесь важно понимать следующее: оптимальная стратегия имеет смысл только в том случае,
        если остальные игроки также ее придерживаются. В остальных ситуациях – когда оппоненты действуют по своему
        личному усмотрению – гораздо эффективнее ориентироваться на их ошибки и подстраиваться под них.
        <br>
        Более того, в обеих играх очень важно:
        <ul>
            <li>анализировать получаемую информацию для получения превосходства (понимание паттернов соперников);
            <li> и следить за психологическим состоянием игроков.</li>
        </ul>
        Далее мы будем ссылаться на интересный пост с форума 2+2, в котором опытный игрок, объездивший почти всю Америку
        и несколько азиатских странах (и сыгравших в десятках покерных клубов), описывает паттерны поведения оппонентов
        за игровыми столами. По его наблюдениям, они очень похожи вне зависимости от страны или города. Но перед этим
        следует сделать сноску:
        <ul>
            <li>Всё нижеперечисленное относится к лимитам от $1/2 до $2/5.</li>
            <li>Камень означает камень</li>
        </ul>
        На низких лимитах люди обычно придерживаются одной и той же стратегии. Потому что не умеют или не хотят играть
        иначе. В большинстве случаев не имеет значения, что было в предыдущих раздачах. Они могли блефовать несколько
        раз – и все неудачно. Будьте уверены, что они попробуют еще раз.
        <br>
        Может быть, кто-то постоянно коллировал ставки на ривере и постоянно нарывался на более сильную руку.
        <br>
        Будет ли он что-то менять? Вряд ли. Речь здесь о статичной стратегии. Условно назовем ее «Камень». Мы знаем, что
        игрок А играет по стратегии «Камень». Следовательно, мы должны применять «Бумагу». Мы выигрываем один банк,
        потом второй, потом третий и так далее.
        <br>
        В какой-то момент рождается мысль: пора бы поменять «Камень» на что-то другое, ведь наш оппонент не может
        постоянно наступать на одни те же грабли.
        <br>
        И мы меняем «Бумагу» на «Ножницы»…
        <br>
        И это было бы правильно, если бы против нас играли думающее соперники. В этом случае шла бы постоянная смена
        стратегий: «Камень» – «Ножницы» – «Бумага», «Камень – «Ножницы» – «Бумага»… Но на лимитах $1/2 чаще всего это
        будет лишь мешать и губительно сказываться на винрейте.
        <br>
        Если человек пять раз заколлировал на ривере со слабой рукой, он сделает это и в шестой раз. Что приводит нас к
        главной мысли: Делайте гораздо более экстремальные подстройки под слабых соперников, чем вы привыкли
    </div>
</div>